* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.home {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* Home Left */

.home-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.home-left-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  padding: 50px;
  
}

.home-hook {
  font-size: 30px;
  font-weight: lighter;
  margin-top: 80px;
}

.home-name {
  font-size: 70px;
}

.title {
  height: 40px;
  overflow: hidden;
}

.title-item {
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 45px;
  font-size: 26px;
  color: #014421;
}

.title-wrap {
  height: 100%;
  animation: move 22s ease-in-out infinite alternate; 
}

@keyframes move {
  50%{transform: translateY(-45px);}
  50%{transform: translateY(-90px);}
}



.about {
  font-size: large;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

a:link, a:visited {
  color: #779ECB;
  background-color: transparent;
  text-decoration: underline;
}

/* Home Right */

.home-right {
  flex: 1;
  position: relative;
}

.home-img {
  clip-path: circle(43% at 50% 50%);   
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.home-bg {
  clip-path: circle(43% at 50% 50%);    
  background-color: lavender;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 480px) {
  .home {
      flex-direction: column;
  }
  .home-left-wrap {
      padding: 10px;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: 100%;
  }
}